@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="text-center">Welcome</h1>
    <hr>

    <div class="row mt-5">
        <div class="col-md">
            <partial name="_Register"></partial>
        </div>
        <div class="col-md">
            <partial name="_Login"></partial>
        </div>
    </div>

</div>
