

.color-ivory{
    background-color: #F4F9E9;
}

.color-indigo{
    background-color: #284B63;
}

.color-jet{
    background-color: #333333;
}

.color-lightblue{
    background-color: #ADEBFF;
}

.color-orange{
    background-color: #E77728;
}
.text-ivory{
    color: #F4F9E9;
}

.text-indigo{
    color: #284B63;
}

.text-jet{
    color: #333333;
}

.text-lightblue{
    color: #ADEBFF;
}

.text-orange{
    color: #E77728;
}