.navColor {
    background-color: black;
}

.navColorTypography{
    color:white !important;
}

.wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width:600px;
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 15px;
}

.image{
    position: relative;
    width: 100%;
}

.mainImage {
    width: 100%;
}

.like{
    display: flex;
    flex-direction: row;
}

#heart{
    margin-top: 9px;
}
#heartAlign {
    margin-top: 16px;

}

.alignDelete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#trashCan{
    background-color: transparent;
    border: none;

}